#youtube-enhancer-toolbar {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
  }
  #youtube-enhancer-toolbar.hidden {
    display: none;
  }
  .toolbar-button-container {
    position: relative;
  }
  #youtube-enhancer-toolbar button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    position: relative;
  }
  #youtube-enhancer-toolbar button i {
    font-size: 24px;
  }
  #volume-boost-slider {
    width: 100px;
  }
  .hidden {
    display: none;
  }
  .toolbar-tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #212121;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
  }
  .toolbar-button-container:hover .toolbar-tooltip {
    opacity: 1;
  }